#ignore all data files and draft code
./model*
./data/*
./data/raw/*

# ignore folders
Darts*
model*

#ignore pipenv files
pipfile.*
pip*

#ignore environment files
*.env
*.csv
*.DS_Store
*.json
.jupyter

.gitignore

